@mixin custom-hover($field, $action) {
  @media(hover:hover) {
    &:hover {
      #{$field}: #{$action};
    }
  }

  @media(hover:none) {
    &:active {
      #{$field}: #{$action};
    }
  }
}

%modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(#000000, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}
